__pycache__/
.ipynb_checkpoints/

pretrained_models/
t_draw.py
udeepsc_main-*
tdeepsc_main-*
execute_*

cifar-10-python.tar.gz
TDeepSC/data/cifar/
TDeepSC/data/msadata/
TDeepSC/data/vqa_datasets/
UDeepSC/data/cifar/
UDeepSC/data/msadata/
UDeepSC/data/vqa_datasets/
UDeepSC_FSM/data/cifar/
UDeepSC_FSM/data/msadata/
UDeepSC_FSM/data/vqa_datasets/

ckpt_record/
ckpt_record_12dB_single/
ckpt_record2/

vqaeval_result/
output/
output*
